# Keys
*.key
*.agekey
*.gpg

# Local Environment
*.env
k3s.yaml

# Decrypted files
sopssecret.yaml
sopssecret*
*sopssecret*
kubeconfig
ssh-public-key.txt
.decrypted~*.yaml

# Binaries
^clustertool*

mounts/
