apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: games
  namespace: flux-system
resources:
  - namespace.yaml
  - games.secret.yaml
  # - ark-shared-pvcs.yaml
  # - ark-scorched/ks.yaml
  # - ark-ragnarok/ks.yaml
  # - ark-aberration/ks.yaml
  - minecraft-britannia/ks.yaml
  # - minecraft-venture/ks.yaml
  # - minecraft-gate/ks.yaml
  - minecraft-router/ks.yaml
  # - palworld/ks.yaml
  - valheim/ks.yaml
